{% extends 'base.html.twig' %}

{% block body %}
  {#  <section class="services"> #}
  <div>
    {% for carousel in carousel %}
      <div>
        <div>
          <h4>{{ carousel[0] }}</h4>
          <p>{{ carousel[1] }}</p>
        </div>
        <div>
        </div>
      </div>
    {% endfor %}
  </div>
  {#  </section> #}
{% endblock %}
