{% extends 'base.html.twig' %}

{% block body %}
  {#  <section class="services"> #}
  <div class="d-flex">
    {% for carousel in carousel %}
        <div class="flex-row">
          <h4>{{ carousel[0] }}</h4>
          <p>{{ carousel[1] }}</p>
        </div>
    {% endfor %}
  </div>
  {#  </section> #}
{% endblock %}
