{% extends 'base.html.twig' %}

{% block body %}
  <p>IT Lighthouse is voortgekomen uit Meetup Urk. Meetup Urk organiseert kennissessies en meetups zodat ICT’ers uit de lokale gemeenschap en de regio met elkaar kennis en ervaring kunnen delen, onderhouden en netwerken. Dit initiatief waarbij kennisdeling, netwerken en persoonlijke ontwikkeling centraal staat wordt voortgezet vanuit de Stichting IT Lighthouse voortgezet. IT Lighthouse staat niet stil tijdens corona. In tijden waarin thuiswerken ons nog meer distantieert van sociaal contact met onze collega’s beseffen wij ons hoe belangrijk menselijk contact is. Dit motiveert ons om in de toekomst (als het weer kan) nog meer meetups en events te organiseren. Als IT Lighthouse richten we ons voor nu op Urk en omliggende gemeentes.</p>
{% endblock %}