{% extends 'base.html.twig' %}

{% block body %}

  <div>
    <div>
      <p>Meetup Urk 03 - 11 - 2022</p>
      <p>Meetup Urk 28 - 06 - 2022</p>
    </div>
    <div>
      <img src="https://www.itlighthouse.nl/wp-content/uploads/2022/06/skrepr_logo_liggend.svg" alt="Skrepr Logo">
    </div>
    <div>
      <a href="https://skrepr.com/">Skrepr</a>
    </div>
  </div>
  <div>
    <div>
      <p>Sponsoring 2021 en 2022</p>
    </div>
    <div>
      <img src="https://www.itlighthouse.nl/wp-content/uploads/2021/11/Jan-Bakker-Consulting.png" alt="Jan Bakker Consulting">
    </div>
    <div>
      <a href="https://www.janbakkerconsulting.nl/">Jan Bakker Consulting</a>
    </div>
  </div>
  <div>
    <div>
      <p>Oprichting van de Stichting</p>
      <p>Meetup Urk 01-09-2020</p>
      <p>Meetup Urk 01-09-2021</p>
      <p>Opstartkosten 2020</p>
      <p>Meetup Urk 28 - 06 - 2022</p>
    </div>
    <div>
      <img src="https://www.itlighthouse.nl/wp-content/uploads/2021/07/RSH.webp" alt="RSH">
    </div>
    <div>
      <a href="https://www.rsh.nl/">RSH</a>
    </div>
  </div>

{% endblock %}